{% extends 'base.html' %}

{% block customcss %}

{% endblock customcss %}

{% block header %}
<div class="alert alert-dark" role="alert">
  備品詳細
</div>
{% endblock header %}

{% block content %}
  <form method="post" action="">
   <table class="table table-hover">
      <thead>
        <tr>
        　<th>　　　</th>
          <th>備品名</th>
          <th>管理番号</th>
          <th>型名</th>
        　<th>購入日</th>
          <th>保管場所</th>
          <th>　　　　</th>
        </tr>
      </thead>
      <tbody>
        {% for assetlist in object_list %}
          <tr>
           <td> <button type="button" class="btn btn-primary">編集</button></td>
            <td>{{ assetlist.assetname }}</td>
            <td>{{ assetlist.controlno }}</td>
            <td>{{ assetlist.modelno }}</td>
            <td>{{ assetlist.boughtdate }}</td>
            <td>{{ assetlist.stockplace }}</td>
             <td> <button type="button" class="btn btn-danger">削除</button></td>
          </tr>
        {% endfor %}
        <a href="{% url 'logout' %}">ログアウト</a>
      </tbody>
    </table>
  </form>
{% endblock content %}